/* Resetando margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Seção de busca e filtros */
.search-section {
  text-align: center;
  margin: 2rem;
}

.search-section input, .search-section select {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 2rem;
}

.recipe-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-item h3 a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.recipe-item p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #777;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

footer p {
  font-size: 0.9rem;
}
